<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>Angular sandbox: simple todo list</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="bundle/app.js"></script>
    <link rel="stylesheet" href="css/todolist.css">
</head>
<body>
    <h1>Angular sandbox: todo list</h1>
    <div ng-controller="TodoController as todoList">
        <h3>{{todoList.remainingCount()}} of {{todoList.todos.length}} remaining</h3>
        <p>
            <span ng-click="todoList.showCurrent()"
                  ng-class="{'link--disabled': todoList.currentRoute == todoList.routes.ALL_TODOS}"
                  class="link">[show current]</span>

            <span ng-click="todoList.showArchived()"
                  ng-class="{'link--disabled': todoList.currentRoute == todoList.routes.ARCHIVED_TODOS}"
                  class="link">[show archived]</span>
        </p>
        <div>Enter the task title</div>
        <form ng-submit="todoList.addTodo()">
            <input type="text" ng-model="todoList.newTodoTitle">
            <br>
            <button type="submit">Add</button>
            <button ng-click="todoList.moveToArchive()">Move completed to archive</button>
        </form>
        <ul>
            <li ng-repeat="todo in todoList.displayTodos">
                <input type="checkbox"
                       ng-model="todo.done"
                       ng-if="todoList.currentRoute == todoList.routes.ALL_TODOS"
                />
                <span
                    ng-class="{'todo-done': todo.done == true && todoList.currentRoute == todoList.routes.ALL_TODOS}"
                >{{todo.title}}</span>
            </li>
        </ul>
    </div>
</body>
</html>
